.option {
    font-size:500%;
}

.optionBox{
    height: 100px;
    min-width: 100px;
}

.btn_override{
  min-height: 50px;
  min-width: 500px;
  font-size:400%;
}

.btn_deviceStatus{
  min-height: 20px;
  min-width: 200px;
  font-size:150%;
}

.deviceStatusTable{
  font-size:200%;
}

.runTime{
  font-size:300%;
}

#runTime{
  font-size:300%;
  max-width: 100px;
}
